

.timerSect{
    margin-top: 150px;
    
}

#timerSection{
    color: blanchedalmond;
}

.buttonRound{
    border-radius: 50%;
    margin-left: 5px;
    font-size: 25px;
    padding: 40px;
    border: 1px solid cadetblue;
    transition: all 0.5s;
}

#play:hover {
    background-color:palegreen;
    transition: all 0.5s;
}
#stop:hover {
    background-color: red;
    opacity: 0.7;
    transition: all 0.5s;
}
#lap:hover {
    background-color :yellow;
    opacity : 0.7;
    transition: all 0.4s;
}